<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | 404 Page not found</title>

<style>
/* CSS used here will be applied after bootstrap.css */
.qlt-confirmation {
    width: 30%;
    margin: 10px auto;
 }
  
.qlt-confirmation .panel-body {
    width: 99%;
  margin: 0 auto;      
        padding: 40px 10px;
 }
      .qlt-confirmation .panel-body .desc{
              margin: 10px auto; 
            }

.qlt-confirmation .panel-body .notice {
       padding: 0px 20px; 
        margin-top: 50px;
        text-align: left;
        font-style:italic;
        color: gray;
      }

</style>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="qlt-confirmation">
    <div class="panel panel-default">
      <div class="panel-body">
        <center>
        <img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/open_mail_letter-512.png" style="width:30px; height: 30px;">
          <p class="desc">We already reset your password!<br>Click link below to enter your new password.<br><br>
          <a>New Password</a></p>
        </center>
        
        <!-- <p class="notice">Note:<br>Using our <b>social login</b>, you will be ask to add your email address during authentication. This is part of our security policy.</p> -->
      </div>
  </div>
</div>
</body>
</html>
